.superInput {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
}

.errorInput {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    transition: all 0.5s ease 0s;
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}